# ...existing code...# ...existing code...
# Cython debug symbols
cython_debug/
*.json
# Environments
.env
# End of https://mrkandreev.name/snippets/gitignore-generator/#Python

# (Procfile n'est plus ignoré)